.footer {
    padding: 40px 0;
    background-color: #343a40;
  }
  
  .footer h5 {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .footer p, .footer a {
    color: #dcdcdc;
  }
  
  .footer a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  
  .footer .list-unstyled li {
    margin-bottom: 10px;
  }
  
  .footer .list-unstyled li a {
    color: #dcdcdc;
    text-decoration: none;
  }
  
  .footer .list-unstyled li a:hover {
    color: #ffffff;
  }
  